body{
    background: #eee;
}
h1{
    text-align: center;
}
.container{
    position: relative;
    width:960px;
    height:450px;
    margin: 60px auto;
}
.container img{
    width:15%;
    padding:10px 10px 15px;
    background: white;
    border:1px solid #ddd;
    position: absolute;
    transition: all 1s;
    z-index: 1;
}
.container .pic-1{
    top:50px;
    left:100px;
    transform: rotate(10deg);
}
.container .pic-2{
    top:40px;
    left:250px;
    transform: rotate(-20deg);
    z-index: 20;
}
.container .pic-3{
    top:40px;
    left:400px;
    transform: rotate(20deg);
}
.container .pic-4{
    top:50px;
    left:570px;
    transform: rotate(-30deg);
    z-index: 10;
}
.container .pic-5{
    top:40px;
    left:720px;
    transform: rotate(20deg);
    z-index: 20;
}
.container .pic-8{
    top:280px;
    left:100px;
    transform: rotate(-20deg);
}
.container .pic-7{
    top:200px;
    left:280px;
    transform: rotate(30deg);
    z-index: 10;
}
.container .pic-6{
    top:300px;
    left:450px;
    transform: rotate(-10deg);
    z-index: 10;
}
.container .pic-9{
    top:200px;
    left:550px;
    transform: rotate(10deg);
    z-index: 20;
}
.container .pic-10{
    top:200px;
    left:700px;
    transform: rotate(-20deg);
}
/*鼠标放上后的效果*/
.container img:hover{
    transform: rotate(0);
    transform: scale(1.2);
    box-shadow: 10px 10px 15px #ccc;
    z-index: 1000;
}